* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --backgroundColor : #e9e9e9;
    --textColor: #000;
    --headerColor : #6f80a4;

    background-color: var(--backgroundColor);
}

header, h1{
    background-color: var(--headerColor);
    color: var(--textColor);
    padding: 10px 0;
    text-align: center;
}

#dark-mode-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
}

form{
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;

    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#form-user {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#form-title {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#form-content {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.dark-mode {
    --backgroundColor : #333;
    --headerColor : #444;
    --textColor: #fff;
    --cardBorderColor : #fff;
    --cardHeaderBackgroundColor : #444;
    --cardContentBackgroundColor : #333;
    --cardFooterBackgroundColor : #444;
}